@-ms-viewport {
	width: device-width;
}

body {
	background-color: skyblue;
}

@media only screen and (min-width: 800px) {
	body {
		background-color: lime;
	}
}

main {
	background-color: white;
	max-width: 800px;
	padding: 2em;
}

.img {
	max-width: 100%;
	height: auto;
}

.svg {
	width: 100%
}